@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
}
body{
    background-image: url(https://www.usatoday.com/gcdn/presto/2020/12/30/USAT/f1d40f21-445e-4e66-9eb2-d76b15790b7b-AP_Virus_Outbreak-New_Years_Eve.jpg?width=1200&disable=upscale&format=pjpg&auto=webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    margin: 0;
    color: #ffffff;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}
body *{
    z-index: 1;
}
h1{
    font-size: 40px;
    margin: -80px 0 40px;
}

.countdown{
    display: flex;
    transform: scale(2);
}
.time{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.time h2{
    margin: 0 0 5px;
}
@media(max-width: 500px){
    h1{
        font-size: 35px;
    }
    .time{
        margin: 5px;
    }
    .time h2{
        font-size: 12px;
        margin: 0;
    }
    .time small{
        font-size: 10px;
    }
}